*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    background:#000;
    font-family:Arial, Helvetica, sans-serif;
}

canvas{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#video{
    position:absolute;
    width:220px;
    right:20px;
    bottom:20px;
    border-radius:12px;
    border:2px solid cyan;
    z-index:10;
}

#ui{
    position:absolute;
    top:20px;
    left:20px;
    color:white;
    z-index:10;
}

h1{
    color:#00eaff;
    font-size:36px;
}

#mode{
    margin-top:10px;
    font-size:20px;
}
